@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
* {
  font-family: "Oswald";
  transition: 100ms all ease-in-out;
  box-sizing: border-box;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}